doctype html
html
	head
		title Course Selection Assistant
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="http://code.jquery.com/jquery-2.1.1.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="/course-selection-assistant/client/js/Utils.js")
		script(src="/course-selection-assistant/client/js/main.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		table(id="course-table" width="800" border="1")
			tr
				th(colspan="2") Year 1
				th(colspan="2") Year 2
				th(colspan="2") Year 3
				th(colspan="2") Year 4
			tr
				td Fall
				td Winter
				td Fall
				td Winter
				td Fall
				td Winter
				td Fall
				td Winter
			tr
				td(id="sem-f1" class="sem-column")
				td(id="sem-w1" class="sem-column")
				td(id="sem-f2" class="sem-column")
				td(id="sem-w2" class="sem-column")
				td(id="sem-f3" class="sem-column")
				td(id="sem-w3" class="sem-column")
				td(id="sem-f4" class="sem-column")
				td(id="sem-w4" class="sem-column")