doctype html
html
	head
		title Login | Course Selection Assistant
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="http://code.jquery.com/jquery-2.1.1.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="/course-selection-assistant/client/js/Utils.js")
		script(src="/course-selection-assistant/client/js/login.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		div(id="background")
		div(class="container-fluid")

			div(class="login-signup")
				table(class="login-signup")
					tr
						td
							div(class="btn btn-default btl-lg" id="login-button") Login
						td
							div(class="btn btn-default btl-lg" id="signup-button") Sign Up


			div(class="intro-form" id="signup-form")
				p Sign up
				form(role="form" action="/course-selection-assistant/server/signup.php" method="post")
					div(class="form-group")
						label(for="input-email") Email address
						input(type="email" class="form-control" id="input-email" placeholder="Enter email" name="email")
					div(class="form-group")
						label(for="input-password") Password
						input(type="password" class="form-control" id="input-password" placeholder="Enter password" name="password")
					div(class="form-group")
						label(for="input-first-name") First name
						input(class="form-control" id="input-first-name" name="first-name")
					div(class="form-group")
						label(for="input-first-name") Last name
						input(class="form-control" id="input-first-name" name="last-name")
					div(class="form-group")
						label(for="input-program") Program
						select(class="form-control" id="input-program" name="program")
							option(value="Software") Software
							option(value="Electrical") Electrical
					div(class="form-group")
						label(for="input-status") Status
						select(class="form-control" id="input-status" name="status")
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
							option(value="4") 4
					div(class="form-group")
						label(for="input-pattern") On or Off Pattern
						select(class="form-control" id="input-pattern" name="pattern")
							option(value="On") On
							option(value="Off") Off
					div(class="form-group" id="year-form-group")
						label(for="year-completed") Year Completed
						select(class="form-control" id="input-year" name="year")
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
					div(class="form-group" id="courses-taken-form-group")
						label(for="input-courses") Courses Taken
						select(class="form-control" id="input-courses" name="courses[]" multiple="multiple")
							
					button(type="submit" class="btn btn-default") Submit
			
			div(class="intro-form" id="login-form")
				p Log In
				form(role="form" action="/course-selection-assistant/server/login.php" method="post")
					div(class="form-group")
						label(for="signin-email") Email address
						input(type="email" class="form-control" id="signin-email" placeholder="Enter email" name="email")
					div(class="form-group")
						label(for="signin-password") Password
						input(type="password" class="form-control" id="signin-password" placeholder="Enter password" name="password")
					button(type="submit" class="btn btn-default") Submit