.year{
	background-color : rgb(218, 218, 218);
	border-radius : 10px;
	margin: 20px;
	padding: 10px;
	width: 200px;
}

.course{
	background-color: white;
	border-style:solid;
	border-radius: 5px;
	border-color:rgb(200, 255, 224);
	height:80px;
	width:80px;
	margin: 5px;
}

.course-table{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	text-align: center;
}